@using hub.Shared.Models.Todo
@using System.Windows.Input

<div class="card container my-3">
    <div class="card-content row ">
        <div class="col d-flex align-items-center">
            <p class="m-0 py-1 ">@Item.Title</p>
        </div>
        <div class="col-auto px-0">
            <input class="form-check-input my-1" style="width: 3em; height: 3em;" type="checkbox" checked="@Checked" @onchange="@OnChange">
        </div>
        <div class="col-auto px-0">
            <button type="button" class="btn-close d-block pt-1 ms-3" aria-label="delete" @onclick="@OnClick"></button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TodoModel Item { get; set; }
    [Parameter]
    public TodoCompletion Completion { get; set; }
    [Parameter]
    public Func<TodoModel, Task> DeleteCommand { get; set; }
    [Parameter]
    public Func<TodoModel, bool, Task> SetCompletionCommand { get; set; }

    private void OnClick()
    {
        DeleteCommand?.Invoke(Item);
    }

    private void OnChange()
    {
        SetCompletionCommand?.Invoke(Item, !Checked);
    }

    private bool Checked => Completion != null;
}