@using hub.Shared.Models.Todo

<div class="card">
    <div  class="card-content">
        <EditForm Context="_" Model="Item" OnValidSubmit="Submit">
            <DataAnnotationsValidator/>
            <input @bind-value="Item.Title" type="text">
            <button type="submit" class="btn btn-primary btn-lg my-2">Add</button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public TodoModel Item { get; set; }

    [Parameter]
    public Func<Task> SaveCommand { get; set; }

	private void Submit(EditContext context) {
	    SaveCommand?.Invoke();
	}
}