@page "/scale"
@using hub.Client.ViewModels.Scale
@inject IScaleViewModel _scaleViewModel

<h3 class="text-center">Scale</h3>
<div class="float-sm-end text-center">
    <div class="card">
        <table class="table table-striped m-0">
            <tbody>
                <tr>
                    <td>
                        <h5>Connection Status</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="@_scaleViewModel.CircleClass"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>"@_scaleViewModel.ConnectedDeviceName"</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>"@_scaleViewModel.ConnectedDeviceId"</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="scale/setup">Setup</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
