@using twitchDnd.Client.ViewModels.Timer
@inject TimerViewModel _timerViewModel
@implements IDisposable

@if (_timerViewModel.Editing)
{
	<TimerEditField Title="Response Collection:" Modal="@_timerViewModel.Session.ResponseCollectionTimer"/>
	<TimerEditField Title="Voting:" Modal="@_timerViewModel.Session.VotingTimer"/>
	<div class="row justify-content-center g-3">
		<div class="col-md-auto">
			<button class="btn btn-primary my-2" @onclick="args => _timerViewModel.Start()">Start</button>
		</div>
	</div>
}
else
{
	<div class="row justify-content-center g-3">
		<div class="col-md-auto">
			<p class="fs-3">@_timerViewModel.TimerValue</p>
		</div>
	</div>
	<div class="row justify-content-center g-3">
		<div class="col-md-auto">
			<button class="btn btn-primary my-2" @onclick="args => _timerViewModel.Stop()">Stop</button>
		</div>
	</div>
}

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
		_timerViewModel.StateChanged += StateHasChanged;
	}

	public void Dispose()
	{
		_timerViewModel.StateChanged -= StateHasChanged;
	}
}